/****************
   VARIABLES
****************/
// Colors
$bg-color: #2e162e;
$bg-sec-color: #ffffff26;
$bg-ter-color: #ffffff;

$fg-color: #fff;
$fg-sec-color: #000;
$fg-ter-color: #333;
$label-border-color: #aaa;

$section-color: #ffffff26;
$transparent: #ffffff00;

$success-l: #00ff00;
$success: rgb(0, 196, 0);

// Sizes
$content-width: 1280px;
$heading-l: 3.5rem;
$heading-s: 1.4rem;
$txt-l: 1.5rem;
$txt-m: 1.25rem;

// Border
$border: 1px solid $bg-color;
$label-border: 1px solid $label-border-color;
$btn-border: 1px solid $fg-color;
$previews-border: 0.66rem $transparent solid;
$preview-border: 1px solid $bg-ter-color;
// Image
// $image: url("https://d2eawub7utcl6.cloudfront.net/images/nix-apple-grey.png");
$image: url("../img/burger.png");
